<div>
    <h1>Album Registraion</h1>
    <!-- todo: remove once form is completed :only for dev -->
    {{album | json}}
    <!-- Form template -->
    <form #albumForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" [(ngModel)]="album.id" name="id" class="form-control" id="id" #idError="ngModel"
                required>
        </div>
        <!-- validation block -->
        <div [hidden]="idError.valid || idError.pristine" class="alert alert-danger">
            Id is Required
        </div>

        <div class="form-group">
            <label for="userId">User Id</label>
            <input type="text" [(ngModel)]="album.userId" name="userId" class="form-control" id="userId"
                #userIdErr="ngModel" required>
        </div>
        <!-- validation block -->
        <div [hidden]="userIdErr.valid || userIdErr.pristine" class="alert alert-danger">
            userId is Required
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" [(ngModel)]="album.title" name="title" class="form-control" id="title"
                #titleError="ngModel" required>
        </div>
        <!-- validation block -->
        <div [hidden]="titleError.valid || titleError.pristine" class="alert alert-danger">
            Title is Required
        </div>
        <button type="submit" [disabled]="!albumForm.form.valid" class="btn btn-success">Submit</button>
    </form>
</div>