<div>
    <h1>Post Registraion</h1>
    <!-- todo: remove once form is completed :only for dev -->
    {{post | json}}
    <!-- Form template -->
    <form #postForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" [(ngModel)]="post.title" name="title" class="form-control" id="title" #titleErr="ngModel"
                required>
        </div>
        <!-- validation block -->
        <div [hidden]="titleErr.valid || titleErr.pristine" class="alert alert-danger">
            Title is Required
        </div>

        <div class="form-group">
            <label for="name">Author Name</label>
            <input type="text" [(ngModel)]="post.author" name="author" class="form-control" id="name"
                #authorNameErr="ngModel" required>
        </div>
        <!-- validation block -->
        <div [hidden]="authorNameErr.valid || authorNameErr.pristine" class="alert alert-danger">
            Author is Required
        </div>
        <!-- combo -->
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" name="category" [(ngModel)]="post.category">
                <option *ngFor="let cat of categories" [value]="cat">
                    {{cat}}
                </option>
            </select>
        </div>
        <button type="submit" [disabled]="!postForm.form.valid" class="btn btn-success">Submit</button>
    </form>
</div>